<ts-header-component></ts-header-component>
<div id="container-fluid" class="container-fluid">
    <main role="main">
        <div ui-view></div>
    </main>
</div>
<footer id="footer" class="container-fluid">
    <div back-top scroll-speed=600></div>
</footer>