<div class="modal-header">
    <h3 class="modal-title" id="modal-title" translate="EDIT"></h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="node_form" novalidate>
        <div class="form-group">
            <label for="name"><span translate="NAME"></span> *</label>
            <input type="text" class="form-control" id="name" ng-model="$ctrl.node.name" ng-required="true">
            <p ng-if="(node_form.name.$error.required || $ctrl.submitted) && !node_form.name.$pristine"
               class="alert-danger" translate="REQUIRED_FIELD"></p>
        </div>
        <div class="form-group">
            <label for="code"><span translate="CODE"></span> *</label>
            <input type="text" class="form-control" id="code" ng-model="$ctrl.node.code" ng-required="true">
            <p ng-if="(node_form.code.$error.required || $ctrl.submitted) && !node_form.code.$pristine"
               class="alert-danger" translate="REQUIRED_FIELD"></p>
        </div>
        <div class="form-group">
            <label for="description" translate="DESCRIPTION"></label>
            <textarea class="form-control" id="description" rows="4" ng-model="$ctrl.node.description"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" translate="SAVE"></button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()" translate="CANCEL"></button>
</div>