<br/>
<hr/>
<br/>

<script type="text/ng-template" id="nodes_renderer1.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a ng-if="node.nodes.length > 0" class="btn btn-success btn-xs" data-nodrag ng-click="$ctrl.toggle(this)">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
        </a>
        <span ng-bind="node.name"></span>
        <small ng-bind="::node.id"></small>
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="$ctrl.remove(this)">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="$ctrl.edit(this)"
           style="margin-right: 8px;">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes " ui-tree-node ng-include="'nodes_renderer1.html'">
        </li>
    </ol>
</script>
<script type="text/ng-template" id="nodes_renderer2.html">
    <div class="tree-node">
        <div class="pull-left tree-handle" ui-tree-handle>
            <span class="glyphicon glyphicon-list"></span>
        </div>
        <div class="tree-node-content">
            <a ng-if="node.nodes.length > 0" class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
                <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}"></span>
            </a>
            <span ng-bind="node.name"></span>
            <small ng-bind="::node.id"></small>
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="$ctrl.remove(this)">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="$ctrl.edit(this)"
               style="margin-right: 8px;">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes " ui-tree-node ng-include="'nodes_renderer2.html'">
        </li>
    </ol>
</script>

<div ng-if="!$ctrl.isLoaded" class="animationload">
    <div class="osahanloading"></div>
</div>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">

            <div class="col-sm-6">
                <h3><span translate="TREE"></span> 1</h3>
                <div ui-tree="$ctrl.treeOptions1" data-max-depth="7" id="tree1-root">
                    <ol ui-tree-nodes="tree1" data-max-depth="7" ng-model="$ctrl.tree1">
                        <li ng-repeat="node in $ctrl.tree1 " ui-tree-node
                            ng-include="'nodes_renderer1.html'"></li>
                    </ol>
                </div>
            </div>

            <div class="col-sm-6">
                <h3><span translate="TREE"></span> 2</h3>
                <div ui-tree="$ctrl.treeOptions2" data-clone-enabled="true" id="tree2-root">
                    <ol ui-tree-nodes="" ng-model="$ctrl.tree2">
                        <li ng-repeat="node in $ctrl.tree2 " ui-tree-node
                            ng-include="'nodes_renderer2.html'"></li>
                    </ol>
                </div>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-sm-6">
                <h4 translate="TREE_MODEL"></h4>
                <pre class="pre-scrollable">{{ $ctrl.tree1|json }}</pre>
            </div>

            <div class="col-sm-6">
                <h4 translate="TREE_MODEL"></h4>
                <pre class="pre-scrollable">{{ $ctrl.tree2|json }}</pre>
            </div>

        </div>

    </div>
</div>

