<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home" translate="BRAG_TASK"></a>
        </div>

        <div id="navbar" style="float: right; line-height: 50px" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-if="$root.lang === 'en'">
                    <button class="btn btn-primary btn-sm" ng-click="$ctrl.changeLanguage('pl')"
                            translate="BUTTON_LANG_PL"></button>
                </li>
                <li ng-if="$root.lang === 'pl'">
                    <button class="btn btn-primary btn-sm" ng-click="$ctrl.changeLanguage('en')"
                            translate="BUTTON_LANG_EN"></button>
                </li>
            </ul>
        </div>
    </div>

</nav>