<!doctype html>
<html lang="{{ lang }}" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title update-title></title>
</head>
<body>
<div ui-view></div>
</body>
</html>

